.collection {
  display: flex;
  flex-wrap: wrap;
}
.collection-item {
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
  height: fit-content;
}
.filter-collection {
  width: 25rem;
}
.fa-heart:hover {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clear-button:focus,
.clear-button:hover {
  background: chartreuse !important;
}

.active {
  background: hsl(204, 71%, 39%);
  color: white;
}

.form-edit-articles {
  display: none;
}

.form-add-articles {
  width: 70%;
}
.edit-button {
  display: block;
  width: 5rem;
}

.navbar-item {
  text-align: center;
}
